button {
    margin: 5px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    width: 60px;
    background-color: rgba(55, 118, 155, 0.90);
    color: rgb(249, 178, 11);

}
.letras{
  text-align: center;
  width: 500px;
  padding: 0;
}