<nav class="navbar navbar-expand-md navbar-success  mb-4">
  <div class="container-fluid">
    <a class="navbar-brand text-center" routerLink="/home">
      <img
        src="../../../../assets/img/logo.png"
        alt="Logo"
        width="70"
        height="70"
      />
      <p>Sala de juegos</p>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="mostrarNavLink()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      [class]="{ collapse: verNavLink }"
      class="navbar-collapse"
      id="navbarCollapse"
    >
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/productos/alta">ProductosAlta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/productos/listado"
            >ProductosListado</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/container">Container</a>
        </li>
      </ul>

      <div *ngIf="!usuario" class="hidden-in-bnc-app css-pddht">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/auth/login"> Iniciar sesión</a>
          </li>

          <li class="nav-item">
            <button
              data-bn-type="button"
              id="header_register"
              aria-label="register"
              routerLink="/auth/sign-up"
              class="btn btn-outline-dark"
            >
              Registrarse
            </button>
          </li>
        </ul>
      </div>
      <div *ngIf="usuario" class="select-container text-end">
        <button (click)="toggleInfoBox()" class="btn btn-dark">
          {{ usuario.name }}
        </button>
        <div *ngIf="showInfoBox" class="info-box text-start">
          <div>
            <div>
              <label for=""><b>Nombre:</b> {{ usuario.name }}</label>
            </div>
            <div>
              <label for="">
                <b> Correo: </b>
                {{ usuario.email }}</label
              >
            </div>
            <div>
              <label for="">
                <b> Rol: </b>
                {{ usuario.rol }}</label
              >
            </div>
          </div>
          <div class="d-flex button-salir" role="search">
            <button class="btn btn-danger salir" (click)="logout()">
              Salir
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
